html {
    scroll-behavior: smooth;
}

body {
    @include fluid-text(22, 18);
    color: var(--color-title);
    background: #F5F5F5;

    font-family: var(--font-family-base);
    font-weight: 400;
    line-height: 1.2;

    &.lock {
        max-height: 100vh;
        overflow: hidden;
    }
}

p {
    color: var(--color-text);
}

main {
    flex: 1;
}

a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    @include reset-link;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    @include fluid-text(46, 24);
    font-weight: 400
}

h2 {
    @include fluid-text(46, 24);
    font-weight: 700;
    margin-bottom: 35px;

    @include mobile {
        margin-bottom: 25px;
    }
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

h4 {
    @include fluid-text(20, 16);
}

h5 {
    @include fluid-text(16, 14);
}