.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.hidden-mobile {
    @include mobile {
        display: none !important;
    }
}

.visible-mobile {
    @include mobile-above {
        display: none !important;
    }
}

section {
    margin-bottom: var(--section-margin-y);
}

.site {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);

    @include desktop-above {
        max-width: 1440px;
        margin: 0 auto;
    }
}

.center {
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.column {
    width: 50%;
}