@import 'normalize', 'fonts', 'veriables', 'mixins', 'media',  'utils', 'globals', 'animations';

@import 'blocks/button',
'blocks/button-burger',
'blocks/form',
'blocks/select',

'blocks/header',
'blocks/logo',
'blocks/navigation',
'blocks/hero',
'blocks/language',
'blocks/expertise',
'blocks/products',
'blocks/about',
'blocks/platform',
'blocks/breadcrumbs',
'blocks/info',



'blocks/footer';