    form {
        margin: 0 auto;
        padding: 60px 0;
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 700px;

        @include mobile {
            padding: 30px 0;
        }

        & .button {
            align-self: center;
            min-width: 200px;
        }
    }

    label {
        font-size: 18px;
        font-weight: 500;
        text-wrap: nowrap;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & span {
            font-size: 12px;
            color: var(--color-red);
        }
    }

    input,
    textarea {
        outline: none;
        width: 100%;
        height: var(--input-height);
        padding: 0 15px;
        color: var(--color-dark);
        border: var(--border);
        border-radius: var(--border-radius-small);

        &.error {
            border-color: var(--color-red);
            background: #E600001A;
        }

        &.verified {
            border-color: var(--color-accent);
        }

        &::placeholder {
            color: var(--color-gray);
        }

        &:focus-visible {
            border-color: var(--color-accent);
        }

    }
 

    textarea {
        padding: 13px 15px;
        min-height: 120px;
        resize: none;
    }

    /* custom */
    .custom-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
        user-select: none;
        position: relative;
        cursor: pointer;
        color: var(--color-dark);
        background: var(--color-white);

        /* Скрыть стандартный radio button */
        & input[type="radio"],
        & input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;

            &:checked~.radiomark {
                border-color: var(--color-accent);

                &::after {
                    opacity: 1;
                }
            }

            &:checked+.checkmark {
                border-color: var(--color-accent);
                background: var(--color-accent);

                &::after {
                    opacity: 1;
                }
            }

            &:checked+.switchmark {
                border-color: var(--color-accent);

                &::after {
                    background: var(--color-accent);
                    transform: translateX(calc(100% + 4px));
                }
            }
        }

        & .radiomark {
            display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            position: relative;
            cursor: pointer;
            background: var(--transparent);
            border: 2px solid var(--color-dark);
            transition: all .3s ease;

            &::after {
                content: "";
                position: absolute;
                display: block;
                left: 50%;
                top: 50%;
                translate: -50% -50%;
                width: 80%;
                height: 80%;
                opacity: 0;
                background: var(--color-accent);
                border-radius: 50%;
                transition: all .3s ease;
            }
        }

        & .checkmark {
            display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 6px;
            position: relative;
            cursor: pointer;
            background: var(--color-transparent);
            border: 2px solid var(--color-dark);

            &::after {
                content: "";
                position: absolute;
                left: 0%;
                top: 0%;
                width: 100%;
                height: 100%;
                opacity: 0;
                background: url(../images/icons/check.svg) no-repeat center;
            }
        }

        & .switchmark {
            position: relative;
            width: 48px;
            height: 24px;
            border-radius: 56px;
            border: 1px solid #a4a5a9;
            transition: border-color 0.3s ease;

            &::after {
                content: "";
                position: absolute;
                left: 2px;
                top: 2px;
                display: block;
                min-width: calc(50% - 4px);
                height: calc(100% - 4px);
                border-radius: 50%;
                background: #a4a5a9;
                opacity: 1;
                transition: all 0.3s ease;
            }
        }
    }

    /* custom */