.language {
    width: 100%;
    max-width: 200px;
    height: 30px;
    margin-top: 23px;
    position: relative;
    @include reset-button;
    @include flex-center;
    justify-content: flex-start;
    overflow: hidden;
    background-color: var(--color-white);
    padding: 4px;
    border-radius: 4px;

    &.active {
        overflow: visible;

        & .language__list {
            &>li {
                &>a {
                    &::after {
                        rotate: 180deg;
                    }
                }
            }
        }
    }


    &__list {
        width: 100%;

        &>li {
            &>a {
                @include flex-center;
                justify-content: flex-start;
                gap: 8px;

                @include hover {
                    &::after {
                        background: var(--color-accent);
                    }
                }

                &::after {
                    content: '';
                    display: inline-block;
                    min-width: 16px;
                    height: 16px;
                    background: var(--color-dark);
                    mask: url('../images/icons/arrow-down.svg') no-repeat center;
                    -webkit-mask: url('../images/icons/arrow-down.svg') no-repeat center;
                    mask-size: contain;
                    -webkit-mask-size: contain;
                    transition-duration: var(--transition-duration);
                    margin-left: auto;
                }



                & img {
                    width: 20px !important;
                    height: auto !important;
                }
            }
        }
    }




    & .sub-menu {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transform: translateY(5px);
        transition: all 0.3s ease;
        color: var(--color-dark);
        background-color: var(--color-white);
        border-radius: var(--border-radius-small);

        &.show {
            margin-top: 5px;
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }

        &.open-up {
            top: auto;
            bottom: 100%;
            margin-bottom: 5px;
            transform: translateY(-5px);
        }

        &.show.open-up {
            margin-top: 0;
            transform: translateY(0);
        }

        & a {
            padding: 6px;
            @include flex-center;
            justify-content: flex-start;
            gap: 8px;



            @include hover {
                color: var(--color-white);
                background: var(--color-accent);
                border-radius: var(--border-radius-small);
            }
        }
    }
}